<!DOCTYPE html>

<html>
    <head>
        <title>About Us</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        
        <div class = "main-content">
         {{>header}}
         <p>This site was created by Prakash Ranabhat. It uses weather API.</p>
        <img class = "portrait" src="/img/vanji.jpeg">
        </div>
        {{>footer}}
    
    </body>
</html>